
@media (min-width: 768px) {html { font-size: 62.5%; }  /* =10px */}
@media (max-width: 767px) {html { font-size: 55%; } } 
@media (max-width: 480px) {html { font-size: 50%; }}
body { font-size: 1.4rem; } /* =14px */

.header h2, .header h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin: 10px auto;
    text-align: center;
}
.header h2 {
    color: yellow;
    font-weight: bold;
    font-size:  2.4rem;
}
.header h4 {
    font-size: 2rem;
}
.header p {
    text-shadow: 4px 4px 2px white /*rgba(150, 150, 150, 1)*/;
    font-size:1.6rem;
    color:black;
    line-height: 1;
    font-weight: bold;
}
.padding20 {padding-left: 20px;}
#social {position:fixed;left:0;top:100px;width:50px;}
#social a{
    left:0;
    width:50px;
    background-size: 50px;
    display: block;
    height: 50px;
    cursor: pointer;
}
.fb {background: url(../assets/fb.png);}
.vk {background: url(../assets/vk.png);}


